//impressions

.impressions {
    background-image: url("/assets/img/impressions-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;

    @media screen and (min-width: $device-width-tablet) {
        padding: 60px;
    }
}

.impressions__headline {
    color: $white;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 30px;
    text-align: center;

    @media screen and (min-width: $device-width-tablet) {
        font-size: 28px;
        margin: 0 0 40px;
    }
}

.impressions__img {
    display: block;
    height: auto;
    margin: 0;
    max-width: 100%;
    width: 100%;
}
